<div class="tl_page_wrap">
    <div class="tl_page">
      <main class="tl_article">
        <header class="tl_article_header">
          <h1>{{article.title}}</h1>
        </header>
        <article class="tl_article_content">
          <img class="my-5" src="{{article.img}}" alt="img">
          <p class="my-5">{{article.content}}</p>
          <p>
          <button class="button publish_button my-5" (click)="goBack()">Вернуться</button>
          </p>
          <footer class="my-5">
            <p>С уважением, команда веб-студии BerserkWeb</p>
          </footer>
        </article>
      </main>
    </div>
</div>
