<div class="tl_page_wrap">
    <div class="tl_page">
      <main class="tl_article">
        <header class="tl_article_header">
        </header>
        <a *ngFor="let article of articles" routerLink="/detail/{{article.id}}">
          <article class="tl_article_content module">
            <h2>{{article.title}}</h2>
            <p>{{article.content}}</p>
          </article>
        </a>
        
        <div>
          <label> <br>
            <input placeholder="Заголовок:" #articleTitle /> <br> <br>
            <input placeholder="Ссылка на изображение:" #articleImg /> <br> <br>
            <input placeholder="Контент:" #articleContent /> <br> <br>
          </label>
          <!-- (click) passes input value to add() and then clears the input -->
          <button (click)="add(articleTitle.value, articleImg.value, articleContent.value); articleTitle.value='';articleImg.value=''; articleContent.value=''; ">
            Добавить
          </button>
        </div>
      </main>
    </div>
</div>
