<div class="tl_page_wrap">
    <div class="tl_page">
      <main class="tl_article">
        <header class="tl_article_header">
          <h1>Добавление статьи</h1>
        </header>
        <article class="tl_article_content">
          <div>
            <label class="form"> <br>

                <input placeholder="Заголовок:" #articleTitle />
                <input placeholder="Ссылка на изображение:" #articleImg />
                <textarea placeholder="Контент:" #articleContent ></textarea>
                <button (click)="add(articleTitle.value, articleImg.value, articleContent.value); articleTitle.value='';articleImg.value=''; articleContent.value=''; ">
                  Добавить
                </button>

            </label>
            <!-- (click) passes input value to add() and then clears the input -->
          </div>
        </article>
        <br>
        <button (click)="goBack()">go back</button>
      </main>
    </div>
</div>
